testing/integration/flow.json
[{"id":"ab3416c2.5f3728","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6eb9b9be.5c32c","type":"alexa-listener","z":"ab3416c2.5f3728","name":"","url":"","intents":["intentone","intenttwo"],"outputs":2,"x":180,"y":220,"wires":[["9ce4f6f3.1dca78"],["c0e9a0b.83d63e"]]},{"id":"9ce4f6f3.1dca78","type":"alexa-speaker","z":"ab3416c2.5f3728","name":"","message":"some message","x":420,"y":180,"wires":[]},{"id":"c0e9a0b.83d63e","type":"alexa-speaker-listener","z":"ab3416c2.5f3728","name":"","message":"something to respond to","url":"","intents":["intentthree"],"outputs":1,"x":440,"y":260,"wires":[["1fbe98a1.c42dd7"]]},{"id":"1fbe98a1.c42dd7","type":"switch","z":"ab3416c2.5f3728","name":"","property":"payload.slots.exits","propertyType":"msg","rules":[{"t":"eq","v":"exit 1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":650,"y":260,"wires":[["81048bbe.e6878"],["5612fb4b.3e61a4"]]},{"id":"81048bbe.e6878","type":"alexa-speaker","z":"ab3416c2.5f3728","name":"","message":"some other message","x":840,"y":220,"wires":[]},{"id":"56236fa2.de482","type":"alexa-speaker","z":"ab3416c2.5f3728","name":"","message":"some silly message","x":1040,"y":300,"wires":[]},{"id":"5612fb4b.3e61a4","type":"function","z":"ab3416c2.5f3728","name":"add-message","func":"msg.message = \"some further message\"\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":300,"wires":[["56236fa2.de482"]]}]